.coin-toss-game {

    background-color: lightgrey;
    width: 300px;
    padding: 50px;
    margin-left: 425px;
    margin-top: 120px;
    text-align: center;
  }

img{
  height: 100px;
  width: 100px;
}